In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv("https://bit.ly/smallstocks")
stocks

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

- #### Setting the index

In [3]:
stocks.set_index(['Symbol','Date'],inplace=True)
stocks

                    Close    Volume
Symbol Date
CSCO   2016-10-03   31.50  14070500
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500
AAPL   2016-10-04  113.00  29736800
MSFT   2016-10-04   57.24  20085900
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-05   57.64  16726400
CSCO   2016-10-05   31.59  11808600
AAPL   2016-10-05  113.05  21453100

- #### Sorting the index

In [4]:
stocks.sort_index(inplace=True)
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

- #### Selecting the data

In [5]:
stocks.loc[('AAPL','2016-10-05'),:]

Close          113.05
Volume    21453100.00
Name: (AAPL, 2016-10-05), dtype: float64

In [6]:
stocks.loc[('AAPL','2016-10-05'),'Close']

113.05

In [7]:
stocks.loc[(['AAPL','MSFT'],['2016-10-03','2016-10-04']),'Close':'Volume']

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900

In [8]:
stocks.loc[(slice(None),['2016-10-03','2016-10-04']),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900

- #### stack()

In [9]:
stocks.stack()

Symbol  Date
AAPL    2016-10-03  Close          112.52
                    Volume    21701800.00
        2016-10-04  Close          113.00
                    Volume    29736800.00
        2016-10-05  Close          113.05
                    Volume    21453100.00
CSCO    2016-10-03  Close           31.50
                    Volume    14070500.00
        2016-10-04  Close           31.35
                    Volume    18460400.00
        2016-10-05  Close           31.59
                    Volume    11808600.00
MSFT    2016-10-03  Close           57.42
                    Volume    19189500.00
        2016-10-04  Close           57.24
                    Volume    20085900.00
        2016-10-05  Close           57.64
                    Volume    16726400.00
dtype: float64

In [10]:
stocks.stack().index

MultiIndex([('AAPL', '2016-10-03',  'Close'),
            ('AAPL', '2016-10-03', 'Volume'),
            ('AAPL', '2016-10-04',  'Close'),
            ('AAPL', '2016-10-04', 'Volume'),
            ('AAPL', '2016-10-05',  'Close'),
            ('AAPL', '2016-10-05', 'Volume'),
            ('CSCO', '2016-10-03',  'Close'),
            ('CSCO', '2016-10-03', 'Volume'),
            ('CSCO', '2016-10-04',  'Close'),
            ('CSCO', '2016-10-04', 'Volume'),
            ('CSCO', '2016-10-05',  'Close'),
            ('CSCO', '2016-10-05', 'Volume'),
            ('MSFT', '2016-10-03',  'Close'),
            ('MSFT', '2016-10-03', 'Volume'),
            ('MSFT', '2016-10-04',  'Close'),
            ('MSFT', '2016-10-04', 'Volume'),
            ('MSFT', '2016-10-05',  'Close'),
            ('MSFT', '2016-10-05', 'Volume')],
           names=['Symbol', 'Date', None])

- #### unstack()

In [11]:
stocks.unstack(level=1)

            Close                           Volume
Date   2016-10-03 2016-10-04 2016-10-05 2016-10-03 2016-10-04 2016-10-05
Symbol
AAPL       112.52     113.00     113.05   21701800   29736800   21453100
CSCO        31.50      31.35      31.59   14070500   18460400   11808600
MSFT        57.42      57.24      57.64   19189500   20085900   16726400

- #### groupby()

In [12]:
stocks1 = stocks.groupby('Symbol').Close.mean()
stocks1

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [13]:
stocks1 = stocks.groupby(['Symbol','Date']).Close.mean()
stocks1

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [14]:
stocks1.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

- #### Pivot table

In [15]:
stocks.pivot_table(index='Symbol',columns='Date')

            Close                           Volume
Date   2016-10-03 2016-10-04 2016-10-05 2016-10-03 2016-10-04 2016-10-05
Symbol
AAPL       112.52     113.00     113.05   21701800   29736800   21453100
CSCO        31.50      31.35      31.59   14070500   18460400   11808600
MSFT        57.42      57.24      57.64   19189500   20085900   16726400

In [16]:
stocks.pivot_table(index='Symbol',columns='Date',values='Close')

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [17]:
stocks.pivot_table(index='Symbol',columns='Date',values='Volume')

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL      21701800    29736800    21453100
CSCO      14070500    18460400    11808600
MSFT      19189500    20085900    16726400