In [14]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([2,3,5,7,11],index=['a','b','c','d','e'])
s

a     2
b     3
c     5
d     7
e    11
dtype: int64

In [4]:
data = {'Country': ['Belgium', 'India', 'Brazil'],'Capital': ['Brussels', 'New Delhi', 'Brasília'],'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country', 'Capital', 'Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528